<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdb.asset.mapper.AssetSwitchMapper">
    
    <resultMap type="AssetSwitch" id="AssetSwitchResult">
        <result property="number"    column="number"    />
        <result property="sn"    column="sn"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceModel"    column="device_model"    />
        <result property="manegeIp"    column="manege_IP"    />
        <result property="cabinetNo"    column="cabinet_No"    />
        <result property="room"    column="room"    />
        <result property="businessType"    column="business_type"    />
        <result property="portInterconnetion"    column="port_interconnetion"    />
    </resultMap>

    <sql id="selectAssetSwitchVo">
        select number, sn, device_type, device_model, manege_IP, cabinet_No, room, business_type, port_interconnetion from asset_switch
    </sql>

    <select id="selectAssetSwitchList" parameterType="AssetSwitch" resultMap="AssetSwitchResult">
        <include refid="selectAssetSwitchVo"/>
        <where>  
            <if test="sn != null  and sn != ''"> and sn = #{sn}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceModel != null  and deviceModel != ''"> and device_model = #{deviceModel}</if>
            <if test="manegeIp != null  and manegeIp != ''"> and manege_IP = #{manegeIp}</if>
            <if test="cabinetNo != null  and cabinetNo != ''"> and cabinet_No = #{cabinetNo}</if>
            <if test="room != null  and room != ''"> and room = #{room}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
            <if test="portInterconnetion != null  and portInterconnetion != ''"> and port_interconnetion = #{portInterconnetion}</if>
        </where>
    </select>
    
    <select id="selectAssetSwitchByNumber" parameterType="Long" resultMap="AssetSwitchResult">
        <include refid="selectAssetSwitchVo"/>
        where number = #{number}
    </select>
        
    <insert id="insertAssetSwitch" parameterType="AssetSwitch" useGeneratedKeys="true" keyProperty="number">
        insert into asset_switch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sn != null">sn,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceModel != null">device_model,</if>
            <if test="manegeIp != null">manege_IP,</if>
            <if test="cabinetNo != null">cabinet_No,</if>
            <if test="room != null">room,</if>
            <if test="businessType != null">business_type,</if>
            <if test="portInterconnetion != null">port_interconnetion,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sn != null">#{sn},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceModel != null">#{deviceModel},</if>
            <if test="manegeIp != null">#{manegeIp},</if>
            <if test="cabinetNo != null">#{cabinetNo},</if>
            <if test="room != null">#{room},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="portInterconnetion != null">#{portInterconnetion},</if>
         </trim>
    </insert>

    <update id="updateAssetSwitch" parameterType="AssetSwitch">
        update asset_switch
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null">sn = #{sn},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="manegeIp != null">manege_IP = #{manegeIp},</if>
            <if test="cabinetNo != null">cabinet_No = #{cabinetNo},</if>
            <if test="room != null">room = #{room},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="portInterconnetion != null">port_interconnetion = #{portInterconnetion},</if>
        </trim>
        where number = #{number}
    </update>

    <delete id="deleteAssetSwitchByNumber" parameterType="Long">
        delete from asset_switch where number = #{number}
    </delete>

    <delete id="deleteAssetSwitchByNumbers" parameterType="String">
        delete from asset_switch where number in 
        <foreach item="number" collection="array" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>
</mapper>