<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmdb.asset.mapper.AssetCustomeMapper">
    
    <resultMap type="AssetCustome" id="AssetCustomeResult">
        <result property="number"    column="number"    />
        <result property="sn"    column="sn"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceModel"    column="device_model"    />
        <result property="ascription"    column="ascription"    />
        <result property="upTime"    column="up_time"    />
        <result property="businessIp"    column="business_ip"    />
        <result property="manageIp"    column="manage_ip"    />
        <result property="cabinetNo"    column="cabinet_no"    />
        <result property="room"    column="room"    />
        <result property="businessType"    column="business_type"    />
    </resultMap>

    <sql id="selectAssetCustomeVo">
        select number, sn, device_type, device_model, ascription, up_time, business_ip, manage_ip, cabinet_no, room, business_type from asset_custome
    </sql>

    <select id="selectAssetCustomeList" parameterType="AssetCustome" resultMap="AssetCustomeResult">
        <include refid="selectAssetCustomeVo"/>
        <where>  
            <if test="sn != null  and sn != ''"> and sn = #{sn}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="deviceModel != null  and deviceModel != ''"> and device_model = #{deviceModel}</if>
            <if test="ascription != null  and ascription != ''"> and ascription = #{ascription}</if>
            <if test="upTime != null  and upTime != ''"> and up_time = #{upTime}</if>
            <if test="businessIp != null  and businessIp != ''"> and business_ip = #{businessIp}</if>
            <if test="manageIp != null  and manageIp != ''"> and manage_ip = #{manageIp}</if>
            <if test="cabinetNo != null  and cabinetNo != ''"> and cabinet_no = #{cabinetNo}</if>
            <if test="room != null  and room != ''"> and room = #{room}</if>
            <if test="businessType != null  and businessType != ''"> and business_type = #{businessType}</if>
        </where>
    </select>
    
    <select id="selectAssetCustomeByNumber" parameterType="Long" resultMap="AssetCustomeResult">
        <include refid="selectAssetCustomeVo"/>
        where number = #{number}
    </select>
        
    <insert id="insertAssetCustome" parameterType="AssetCustome">
        insert into asset_custome
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="number != null">number,</if>
            <if test="sn != null">sn,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="deviceModel != null">device_model,</if>
            <if test="ascription != null">ascription,</if>
            <if test="upTime != null">up_time,</if>
            <if test="businessIp != null">business_ip,</if>
            <if test="manageIp != null">manage_ip,</if>
            <if test="cabinetNo != null">cabinet_no,</if>
            <if test="room != null">room,</if>
            <if test="businessType != null">business_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="number != null">#{number},</if>
            <if test="sn != null">#{sn},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="deviceModel != null">#{deviceModel},</if>
            <if test="ascription != null">#{ascription},</if>
            <if test="upTime != null">#{upTime},</if>
            <if test="businessIp != null">#{businessIp},</if>
            <if test="manageIp != null">#{manageIp},</if>
            <if test="cabinetNo != null">#{cabinetNo},</if>
            <if test="room != null">#{room},</if>
            <if test="businessType != null">#{businessType},</if>
         </trim>
    </insert>

    <update id="updateAssetCustome" parameterType="AssetCustome">
        update asset_custome
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null">sn = #{sn},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="deviceModel != null">device_model = #{deviceModel},</if>
            <if test="ascription != null">ascription = #{ascription},</if>
            <if test="upTime != null">up_time = #{upTime},</if>
            <if test="businessIp != null">business_ip = #{businessIp},</if>
            <if test="manageIp != null">manage_ip = #{manageIp},</if>
            <if test="cabinetNo != null">cabinet_no = #{cabinetNo},</if>
            <if test="room != null">room = #{room},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
        </trim>
        where number = #{number}
    </update>

    <delete id="deleteAssetCustomeByNumber" parameterType="Long">
        delete from asset_custome where number = #{number}
    </delete>

    <delete id="deleteAssetCustomeByNumbers" parameterType="String">
        delete from asset_custome where number in 
        <foreach item="number" collection="array" open="(" separator="," close=")">
            #{number}
        </foreach>
    </delete>
</mapper>